#header{
	height: 100px;
	padding: 30px 0 0 0;
}

#header h1, h4{
	display: inline;
	padding: 0 0 0 40px;
}

div.jumbotron {
    font-size: 15px;
}

.Header {
    border-style: solid;
    border-width: 12px;
    font-size: 40px;
	
}
.Header p{
	 font-size: 30px
}

.jumbotron {
font-size: 40px;
padding: 30px 15px;
margin-bottom: 15px;
color: inherit;
background-color: #D7E46B;
}