.navbar {
	background-color: rgba( 246, 178, 107, 0.5);
}

.navbar .navbar-brand {
	color: #000000;
	font-size: 230%;
	font-family: 'Georgia';
	font-weight: bold;
}

.navbar .navbar-text {
	color: #000000;
	font-weight: bold;
}

.jumbotron {
	background-image:url('./images/titlePicture.jpg');
	height: 650px;
	background-size: cover;
	background-repeat: no-repeat;
}


.jumbotron .container {
	display:block;
	overflow:auto;
	width: 35%;
	padding: 30px;
	margin:5%;
	margin-top: 5%;
	background-color: rgba( 255, 255, 255, 0.8);
	color: #000000;
	z-index:1;
}

.btn-default {
	background-color: rgba( 246, 178, 107, 1);
	border-width: 3px;
	border-radius: 0;
	border-color: rgba(0, 0, 0, 1);
	font-weight: bold;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#000000;
  height: 2px;
}

body {
	font-family: 'Verdana', sans-serif;
}

.dish {
	padding: 15px;
	margin: 15px;
	margin-left:7px;
	margin-right: 7px;
 	width: 230px;
	background-color:#e0e0e0;
	display: inline-block;
}

.dishName {
	font-weight: bold;
}

#top {
	background-color: #f0f0f0;
}

#top li {
  display: inline;
}

#title {
	font-size: 250%;
}

#description {
	font-size: 90%;
}

#people {
	display: inline;
}

.sidebar {
    position: fixed;
    top: 70px;
    bottom: 170px;
    left: 10px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #e0e0e0;
    border-right: 1px solid #EEE;
	font-weight: bold;
}

.sidebar h4 {
	font-weight: bold;
}

#filterBar {
    margin-top: 70px;
	margin-left: 0px;
	background-color: #e0e0e0;
	padding: 20px;
	width: 100%;
	font-weight: bold;
}

#filterBar h4 {
	font-weight: bold;
}

.main {
    padding-right: 40px;
    padding-left: 40px;
}

.DishName {
	font-weight: bold;
	margin-bottom: 5px;
}

.DishDesc {
	margin-top: 5px;
}

.DishDetailName {
	font-size: 150%;
	font-weight: bold;
}

.prepTitle {
	font-weight: bold;
}

#dishDescription {
	margin-top: 70px;
}

#ingredientsTable {
    position: fixed;
    top: 70px;
    bottom: 170px;
    right: 10px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #e0e0e0;
    border-right: 1px solid #EEE;
	

	padding: 20px;
	border: 1px solid black;

}

#tableTitle {
	font.weight: bold;
	font-size: 150%;
	text-align: center;
}
