.jumbotron {
  background-image:url('./images/titlePicture.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#000000;
  height: 1px;
}

body {
	font-family: 'Georgia', sans-serif;
}

.dish {
	padding: 15px;
	margin: 15px;
	margin-left:7px;
	margin-right: 7px;
 	width: 230px;
	background-color:#e0e0e0;
	display: inline-block;
}

.dishName {
	font-weight: bold;
}

#top {
	background-color: #f0f0f0;
}

#top li {
  display: inline;
}

#title {
	font-size: 250%;
}

#description {
	font-size: 90%;
}

#box {
	position: absolute;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	width:470px;
	height:350px;
	margin:30px 50px;
	margin-top: 50px;
	background-color: rgba( 255, 255, 255, 0.5);
	color: #000000;
	z-index:1;
}

#people {
	display: inline;
}

#sidebar {
	height: 100%;
	background-color: #e0e0e0;
	font-weight: bold;
	padding: 20px;
}

#content-row {
	height:100vh;
}

.DishDetailName {
	font-size: 150%;
	font-weight: bold;
}

.prepTitle {
	font-weight: bold;
}

#tableTitle {
	font.weight: bold;
	font-size: 150%;
	text-align: center;
}

#ingredientsTable {
	background-color: #f0f0f0;
	padding: 20px;
	border: 1px solid black;
}

#ingredientTable {
	width: 100%;
}

#filterBar {
	background-color: #e0e0e0;
	padding: 20px;
}
