.dish{
    padding: 20px;
    border: 2px solid #000;
    width: 20%;
    min-width: 170px;
    max-width: 200px;
    height: 220px;
}

.dishName{
    font-size: 1.1em;
}

.container{
    display:flex;
    flex-direction: row;
}

.dishList{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
