.title {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px;
    
    /*margin-bottom: 10px;*/
}

.go-back-box {
    background-color: grey;
}

/*
.row {
    margin-left: 0;
    margin-right: 0;
}
*/

.container li {
    background-color: blue;
}

#sidebar {
    padding: 30px;
    width: 100%;
    margin: 0;
}

.sidebar table {
    padding: 15px auto;
    width: 100%;
}

.sidebar table th {
    background-color: grey;
}

#toggle-btn {
    display: none;
    float: right;
}

/*
.center-image {
    margin: 5px auto;
}
*/
@media only screen and (max-width: 768px) {
    .sidebar {
        background-color: #9e94f7;
    }

    #toggle-btn {
        display: initial;
    }
}

.dish-item {
    background-color: #dbdde0;
    margin: 15px;
    padding: 0;
    max-width: 150px;
}

/*
#dishItemView{
    overflow: auto;
}
*/
#dishSearchView {
    /*padding-bottom: 15px;
    padding-top: :15px;*/
    background-color: #fff291;
    margin: 0;
}

#dishItemView{
    height: 100%;
    overflow: auto;
}


.food [class*='col-'] {
    min-width: 150px;
    margin-bottom: 15px;
}

.dinner-text {
    float: left;
    margin: 10px;
}

.media-body {
    width: 100%;
}

.go-back-btn {
    margin: 10px;
}

#dinnerPrintoutView .media {
    margin: 10px 0px;
}

.fuck{
    height: 180px;
    margin-top: 25px;
}

#dinnerPrintoutView img {
    padding: 10px 10px;
    width: 100px;
}



#dishDetailsView .ingr-table {
    background-color: lightyellow;
    margin: 10px 0px;
}

/*
.full-pagee{
    position: fixed;
    height: 100vh;
}
*/