
			<p class="lead">My Dinner</p>    
			<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-body">
			<span class="col-md-6">Number of People:</span>
			<span class="col-md-6">
				<span class="col-md-8">
				<input type="text" style="width:50px" id="numOfGuest"></input>
				</span>
				
				<span class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default glyphicon glyphicon-minus" id="minusGuest"></button>
					<button type="button" class="btn btn-default glyphicon glyphicon-plus" id="plusGuest"></button>
				</span>
			</span>
			</div>
			</div>
			</div>
			<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-body">
			  <table class="table">
				  <thead>
					<tr>
					  <th>Dish Name</th>
					  <th>Cost</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>Pending</td>
					  <td>0.00</td>
					</tr>
					<tr>
					  <td>Total</td>
					  <td></td>
					</tr>
				  </tbody>
				</table>		  
			  </div>
			</div>
			</div>
			<div class="col-md-12">
			<div class="btn-group">
				<button class="btn btn-default" type="button">
				Confirm Dinner
				</button>
			</div>
			</div>
		