
		  <div class="panel panel-default">
		  <div class="panel-body">
		    <div class="col-md-12">
			<p>Select Dish</p>
			<div class="col-md-12">
				<div class="col-md-3">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
					<button class="btn btn-default" type="button">Search</button>
					</span>
				</div><!-- /input-group -->
				</div>
				<div class="col-md-3">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Select
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#">x1</a></li>
					<li><a href="#">x2</a></li>
					<li><a href="#">x3</a></li>
					</ul>
				</div>
				</div>
			  </div>
			  </div>
			</div>
		  </div>
			<div class="col-md-12">
			  <div class="panel panel-default">
			  <div class="panel-body">
			  <div class="col-md-4">
				<div class="col-md-12 col-xs-8 thumb">
					<a class="thumbnail" href="#">
						<img class="img-responsive" src="http://placehold.it/400x300" alt="">
					</a>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<span class="input-group-addon" id="basic-addon3">name</span>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<p class="parapadding">Some text here... Some text here.... Some text here... Some text here... Some text here....     </p>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="col-md-12 col-xs-8 thumb">
					<a class="thumbnail" href="#">
						<img class="img-responsive" src="http://placehold.it/400x300" alt="">
					</a>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<span class="input-group-addon" id="basic-addon3">name</span>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<p class="parapadding">Some text here... Some text here.... Some text here... Some text here... Some text here....     </p>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="col-md-12 col-xs-8 thumb">
					<a class="thumbnail" href="#">
						<img class="img-responsive" src="http://placehold.it/400x300" alt="">
					</a>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<span class="input-group-addon" id="basic-addon3">name</span>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<p class="parapadding">Some text here... Some text here.... Some text here... Some text here... Some text here....     </p>
				</div>
			  </div>
			  <div class="col-md-4">
			  	<div class="col-md-12 col-xs-8 thumb">
					<a class="thumbnail" href="#">
						<img class="img-responsive" src="http://placehold.it/400x300" alt="">
					</a>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<span class="input-group-addon" id="basic-addon3">name</span>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<p class="parapadding">Some text here... Some text here.... Some text here... Some text here... Some text here....     </p>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="col-md-12 col-xs-8 thumb">
					<a class="thumbnail" href="#">
						<img class="img-responsive" src="http://placehold.it/400x300" alt="">
					</a>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<span class="input-group-addon" id="basic-addon3">name</span>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<p class="parapadding">Some text here... Some text here.... Some text here... Some text here... Some text here....     </p>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="col-md-12 col-xs-8 thumb">
					<a class="thumbnail" href="#">
						<img class="img-responsive" src="http://placehold.it/400x300" alt="">
					</a>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<span class="input-group-addon" id="basic-addon3">name</span>
				</div>
				<div class="col-md-12 col-xs-8 thumb">
				<p class="parapadding">Some text here... Some text here.... Some text here... Some text here... Some text here....     </p>
				</div>
			  </div>
			  </div>
			  </div>
			</div>
		