<div id="sidebar">
			Number of guests: <span ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)">{{getNumberOfGuests()}}</span>
			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<button id="minusGuest" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></button>
				</div>
				<div class="col-md-2">
					<button id="plusGuest" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
				</div>
			</div>
				<p id="chosenMenu"></p>
				<table id="chosenDishes">
					<tr>
						<td id ="cellPending">Pending 0.00 SEK</td>
					</tr>
				</table>
		<hr noshade>
		<p id ="totalPrice"></p>
		<div>
			<button class="btn btn-primary" id="confirmDinner">Confirm Dinner</button>
		</div>

</div>
