<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->

<div class="main col-xs-9">
	<!-- View 4 -->
	<div id="preparationDetails">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<div class="row">
						<h2 class=" col-xs-12" id="preparationTitle"></h2>
						<img id="preparationImg" src="" alt="" class="img-responsive center-block col-xs-12">
						<p class="detailsText col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus sit voluptatibus tenetur eius quis repellat non facilis, magni enim assumenda esse odit ipsum atque maiores, accusantium, cumque eum quibusdam rem!</p>
						<div class="col-xs-12">
							<button class="goBackButton left" id="backToMain">back to Select Dish</button>
						</div>
						<h2 class=" col-xs-12">Preparation</h2>
						<p class="detailsText col-xs-12" id="preparationText"></p>
					</div>
				</div>
				<div class="col-xs-6 ingredients">
					<div class="row" id="ingredients-list">
						<div class="col-xs-12 ingredients-title">Ingredients for <span id="nbGuests">0</span> peoples</div>
						<div class="ingredient">
							
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 col-xs-offset-1">
							<button class="goBackButton left" id="confirmDish">Confirm dish</button>
						</div>
						<div class="col-xs-3 ingredient-price" id="totalIngredientsPrice"><p>SEK 200</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>