<div id="finalMenu" class="col-xs-12">
	<div class="row menuHeader" id="finalHeader">
		<div class="dinnerTitle">My Dinner : <span id="finalGuestNb">{{getNumberOfGuests()}}</span> peoples</div>
		<a ng-href="#/search" class="goBackButton" id="backFromEnd">Go back and edit dinner</a>
	</div>

	<div class="container-fluid">

		<!-- View 5 -->

		<div class="margtop full-height" id="finalMenuList">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<div class="row" id="finalMenuListDishes">
						
						<div class="dish col-xs-4" ng-repeat="dish in fullMenu">
							<div class="dishImg">
								<img class="img-responsive" src="{{dish.ImageURL}}" alt="{{dish.Title}}">
								<p class="titleDishThumb">{{dish.Title}}</p>
							</div>
							<div class="price"><p>{{dish.Price}} SEK</p></div>
						</div>
					</div>
				</div>
				<div class="col-xs-2 ">
					<div class="totalPrice">
						<p class="nomarg">Total :</p>
						<p class="price left"><span id="finalPrice">{{getTotalMenuPrice()}}</span> SEK</p>
					</div>
				</div>
				<div class="row ">
					<div class="col-xs-4 col-xs-offset-4 printRecipe">
						<a class="goBackButton" id="goToPrint" ng-href="#/printfinal">Print Full Recipe</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>