<div id="finalMenu">
	<div class="row menuHeader" id="finalHeader">
		<div class="dinnerTitle">My Dinner : <span id="finalGuestNb"></span> peoples</div>
		<a class="goBackButton" id="backFromEnd" ng-href="#/overview">Go back and edit dinner</a>
	</div>

	<div class="container-fluid">

		<!-- View 6 -->
		<div class="container-fluid" id="finalMenuDishes">
			<div class="dishCol row" ng-repeat="dish in fullMenu">
				<div class="col-xs-2 nopad">
					<img src="{{dish.ImageURL}}" alt="{{dish.Title}}" class="img-responsive center-block dishPic">
				</div>

				<div class="dishDescription col-xs-3">
					<h3 class="dishTitle">{{dish.Title}}</h3>
					<p>{{dish.Description}}</p>
				</div>
				<div class="dishPreparation col-xs-6 col-xs-offset-1">
					<h4 class="dishTitle">Preparation</h4>
					<p>{{dish.Instructions}}</p>
				</div>
			</div>
		</div>
	</div>
</div>