<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->
<div class="main col-xs-9">
	<div id="dishContainer">
		<div class="row menuHeader">
			<div class="dinnerTitle col-xs-12">Select Dish :</div>
			<div class="col-xs-12">
				<div class="col-xs-6">
					<div class="input-group">
				      <input type="text" class="form-control" ng-model="query" placeholder="Search for..."  id="searchBar" >
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button" id="searchBtn" ng-click ="search(query, type)">Go!</button>
				      </span>
				    </div>
				</div>
				
				<div class="col-xs-6">
				    <select class="selectpicker" id="selectTypeDish" ng-model="type" ng-change="search(query, type)">
					  <option value="main dish">Main dish</option>
					  <option value="starter">Starter</option>
					  <option value="dessert">Dessert</option>
					</select>

				</div>
			</div>
		</div>

		<div class="margtop">

			<div id="loader" class="col-xs-12" ng-show="searching">
				<img src="../loading.gif" alt="" class="img-responsive center-block" ng-hide="error">
				<p class="txt-center" ng-hide="error">Loading</p>
				<h2 class="red txt-center" ng-show="error">Error while executing the search</h2>
			</div>

			<a ng-repeat="dish in dishes" class="dish col-xs-3" ng-href='#/dish/{{dish.RecipeID}}'>
				<div class="dishImg">
					<img class="img-responsive center-block" src="{{dish.ImageURL120}}" alt="{{dish.Title}}">
					<p class="titleDishThumb">{{dish.Title}}</p>
				</div>
				<div class="description"><p>{{dish.Subcategory}}</p></div>
			</a>
		</div>
	</div>
</div>