
<div id="menuView">
<input ng-model="query"/>
<button ng-click="search(query)">Find</button>
{{status}}
<ul>
 <li ng-repeat="dish in dishes">
 <img ng-src="{{dish.ImageURL}}" style="height:100px; width:150px;" />
 {{dish.Title}}
 <a ng-href="#/dish/{{dish.RecipeID}}" ng-click="selected(dish.RecipeID)">View more</a>
 {{dish.Category}} {{dish.Subcategory}}
 </li>
</ul>
</div>



	<!--<div id="menuView">
		<div class="container-fluid" id="search">
					<div class="dropdown" id="dropdown">
						<button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Choose type
							<span class="caret"></span>
						</button>
							<ul class="dropdown-menu" id="dropdownStuff" role="menu" aria-labelledby="dLabel" style="top:25px;">
								
							</ul>
					</div>
					<div id="searchText">
    						<input id="searchTextBox" type="text" placeholder="Dish search" name="search">
    						<input id="submitBtn" type="submit" value="Search">

					</div>
		</div>

	
		<div class="menu" id="dishcontainer">
			<table id="menuShow">

			</table>
			<div class="container" id="gif">
				<img src="712.GIF" style="{size: 100;}">
			</div>
		</div>
	</div>-->