

var dishDetailsTemplate = `

<!-- <div class="row"> -->

   <div class="col-sm-10  addBorder" id="dishDetails">

      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-5 ">
               <h1 id="dish_name"> Dish A</h1>

               <img id="dish_image" src="images/bakedbrie.jpg" style="width:100%; height: 400px">

               <p class="textJustifyCenter" style="width:100%;" id="dishDescription"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                                in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                                recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                                Ipsum.</p>

               <div class="col-md-12 text-left" style="margin-bottom: 20px; margin-top: 20px">
                  <button type="button" class="btn btn-warning" id="back_to_search">Back to search</button>
               </div>
            </div>


            <!-- Ingredients Table -->
            <div class="col-sm-7 yellow addBorder">
               <h1 id="tableTitle"> Ingredients for X people</h1>
               <hr style="border-color: black">

               <div class="container-fluid" id="tableItens">
                  
                  <div class="container-fluid" id="tableIngredients">
                     <!-- Row for each dish -->
                     <!--
                     <div class= "row" >
                        <div class = "col-xs-3 text-right"  >
                           <p>750 g</p>
                        </div>

                        <div class = "col-xs-3 text-right"  >
                           <p>Olive Oil</p>
                        </div>      

                        <div class = "col-xs-3 text-right"  >
                           <p>SEK</p>
                        </div>     

                        <div class = "col-xs-3 text-right"  >
                           <p>0.20</p>
                        </div>                              
                     </div>    
                             -->

                     <!-- Row for each dish -->
                     <!--
                     <div class= "row" >
                        <div class = "col-xs-3 text-right"  >
                           <p>250 g</p>
                        </div>

                        <div class = "col-xs-3 text-right"  >
                           <p>Dish B</p>
                        </div>      

                        <div class = "col-xs-3 text-right"  >
                           <p>SEK</p>
                        </div>     

                        <div class = "col-xs-3 text-right"  >
                           <p>9.27</p>
                        </div>                              
                     </div>                               
                      -->
                  </div>   

                  <div class="container-fluid" id="tableButtonAndPrice">

                        <hr style="border-color: black">  

                        <!-- Row for each dish -->
                        <div class="row">
                           <div class="col-xs-6">
                              <div class="col-md-12 text-left" style="margin-bottom: 10px; margin-top: 10px">
                                 <button type="button" class="btn btn-warning" id="add_to_menu">Add to menu</button>
                              </div>
                           </div>

                           <div class="col-xs-6 text-right">
                              <p id="totalPrice">??? SEK </p>
                           </div>
                        </div>
                  </div>

            </div><!-- END of Ingredients Table -->
                        
         </div>

         <div class="row">
            <h1> Preparation </h1>
            <p class="" style="width:100%;" id="preparation"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
         </div>
      </div>
   </div><!-- END of right side (Find a dish + food images) -->
            
<!-- </div> -->

`;
    
    







