



var fullRecipeTemplate = `

    <div class="container-fluid" id="fullReceipe" >
        <div class="row">
            <div class="col-sm-12" style="padding: 0">
                <div class="jumbotron text-center">
                    <h1>Dinner planner</h1>
                </div>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-sm-12 addBorder" style="padding: 0">
                <div class="col-sm-9">
                    <h1>My Dinner:
                        <span id="nGuests"></span> </h1>
                </div>
                <div class="col-sm-3" style="padding-top:10px">
                    <button id="returnToPreviousPageButton" type="button" class="btn btn-default btn-arrow-left" style="background-color: #c2309e">Return to previous page</button>
                </div>

            </div>
        </div>
        
        <!-- <div class="row" id="receipesDiv"> --> <!-- one row per dish -->
            <!--
            <div class="col-md-3">
                <img src="images/bakedbrie.jpg" style="width:150px; height: 150px">
            </div>

            <div class="col-md-4 bg-primary">
                <h5>Lasagne</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.</p>
            </div>

            <div class="col-md-5 bg-success">
                <h5>Preperations</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Tempor id eu nisl nunc mi ipsum faucibus. Diam vulputate ut pharetra sit amet aliquam id
                    diam. Nisi porta lorem mollis aliquam ut porttitor leo a diam. Placerat duis ultricies lacus sed turpis
                    tincidunt id aliquet. Sollicitudin nibh sit amet commodo nulla facilisi nullam. Amet commodo nulla facilisi
                    nullam vehicula ipsum a. Diam maecenas ultricies mi eget. Elementum tempus egestas sed sed. Sed egestas
                    egestas fringilla phasellus faucibus scelerisque eleifend. Id faucibus nisl tincidunt eget nullam non
                    nisi est. Etiam dignissim diam quis enim lobortis. Morbi tincidunt ornare massa eget. Lorem dolor sed
                    viverra ipsum nunc aliquet bibendum. Convallis posuere morbi leo urna molestie at. Penatibus et magnis
                    dis parturient montes nascetur ridiculus mus. </p>
            </div>
            -->
       <!-- </div> -->
    </div>

`;