<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dinner planner</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href ="../styling/css/style.css">

  </head>
  <body>
    <div class="container">
      <h1>Dinner planner</h1>
      <div class="inner-container">
        <div id="sideBarView">
          <h2>My Dinner</h2>
          <div>
            <span>People</span>
            <div class="people-selector-button">
              <span id="numberOfGuests"></span>
              <div class="up-down-buttons">
                <button id="minusGuest" class="btn">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button id="plusGuest" class="btn">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
          </div>

          <div>
            <span>Dish Name</span>
            <span>Cost</span>
          </div>

          <ul id="selectedDishes"></ul>

          <div id="totalPrice"></div>

          <button id="confirmationButton" class="btn">
            <span>Confirm Dinner</span>
          </button>
        </div>

        <div id="dishSearchView">
          <div class="search-bar">
              <h2>Find a dish</h2>
              <div class="search-bar-container">
                <input id="keywordInput" placeholder="Enter key word"></input>
                <select id="dishTypeSelect"></select>
                <button type="submit" id="searchDishButton">Search</button>
            </div>
          </div>
          <div class="dish-items-container" id="dishItemsView">
            <a class="dish-items-wrapper" id="searchedDishes"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript, needed if you want for instance tabs, models, popovers etc. -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- The application JavaScript code -->
    <script src="../js/app.js"></script>
    <script src="../js/model/dinnerModel.js"></script>
    <script src="../js/view/exampleView.js"></script>
    <script src="../js/view/welcomeView.js"></script>
    <script src="../js/view/sideBarView.js"></script>
    <script src="../js/view/dishSearchView.js"></script>
    <script src="../js/view/dishItemsView.js"></script>
    <script src="../js/view/dishDetailView.js"></script>
    <script src="../js/view/dinnerOverviewView.js"></script>
    <script src="../js/view/printView.js"></script>
  </body>
</html>
