body {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.primaryButton {
  color: rgba(0, 0, 0, 1);
  background-color: orange;
  border: 0.1em solid black;
  box-shadow: 0.1em 0.1em 0.1em black;
  font-size: 1em;
  padding: 0.5em;
}

.verticallyCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 12rem auto;
  grid-template-rows: 6rem auto;
  grid-template-areas:
    "header     header"
    "sidebar  content";
}

#header {
  grid-area: header;
  background-color: rgba(173, 173, 173, 1);
}

#sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 2rem 2rem fit-content(100%) 3rem;
  grid-template-areas: 
    "titleBar"
    "guestSelector"
    "dishTable"
    "confirmButtonContainer";
  
  background-color: aqua;
  text-align: left;
}

#titleBar {
  grid-area: titleBar;
}

#guestSelector {
  grid-area: guestSelector;
}

#dishTable {
  grid-area: dishTable;
  display: grid;
  grid-template-areas:
    "tableHeader"
    "tableContent"
    "tableFooter"
}

#tableHeader {
  grid-area: tableHeader;
  display: grid;
  grid-template-areas:
    "tableName tableCost";

  background-color: gainsboro;
  font-weight: bold;
}

#tableName {
  grid-area: tableName;
  text-align: left;
}

#tableCost {
  grid-area: tableCost;
  text-align: right;
}

#tableContent {
  grid-area: tableContent;
  display: grid;
  grid-template-rows: auto;
}

.tableRow {
  display: grid;
  grid-template-areas:
    "rowName rowCost";
}

.rowName {
  grid-area: rowName;
  text-align: left;
}

.rowCost {
  grid-area: rowCost;
  text-align: right;
}

#tableFooter {
  grid-area: tableFooter;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

#confirmButtonContainer {
  grid-area: confirmButtonContainer;
  text-align: center;
}

#content {
  background-color: blanchedalmond;
  grid-area: content;
}

#dishDetails {
  display: grid;
  grid-template-areas:
    "dishDescription ingredientsList"
    "dishPreparation dishPreparation";

  text-align: left;
}

#dishDescription {
  grid-area: dishDescription;
}

#ingredientsList {
  grid-area: ingredientsList;
  display: grid;
  grid-template-rows: 4rem fit-content(100%) 4rem;
  grid-template-areas: 
    "ingredientsTitle"
    "ingredientsTable"
    "ingredientsFooter";

  background-color: burlywood;
  text-align: left;
}

#ingredientsTitle {
  grid-area: ingredientsTitle;
}

#ingredientsTable {
  grid-area: ingredientsTable;
  display: grid;
  grid-template-rows: auto;
}

.ingredientsTableRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "ingredientQuantity ingredientName ingredientCurrency ingredientPrice";
  padding: 0.5rem 0;
}

.ingredientQuantity {
  grid-area: ingredientQuantity;
}

.ingredientName {
  grid-area: ingredientName;
}

.ingredientCurrency {
  grid-area: ingredientCurrency;
  text-align: right;
}

.ingredientPrice {
  grid-area: ingredientPrice;
  text-align: right;
}

#ingredientsFooter {
  grid-area: ingredientsFooter;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "addToMenu addToMenu ingredientsTotalPriceCurrency ingredientsTotalPrice"
}

#addToMenu {
  grid-area: addToMenu;
  grid-column: span 2;
}

#ingredientsTotalPriceCurrency {
  grid-area: ingredientsTotalPriceCurrency;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#ingredientsTotalPrice {
  grid-area: ingredientsTotalPrice;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#dishPreparation {
  grid-area: dishPreparation;
}



@media (max-width: 700px) {
  .container {
    grid-template-areas:
      "header header"
      "sidebar sidebar"
      "content content"
  }

  #dishDetails {
    grid-template-areas:
      "dishDescription"
      "ingredientsList"
      "dishPreparation";
  }
}