body {
  margin: 0;
}

p {
  margin: 0;
}

.primaryButton {
  color: rgba(0, 0, 0, 1);
  background-color: orange;
  border: 0.1em solid black;
  box-shadow: 0.1em 0.1em 0.1em black;
  font-size: 1em;
  padding: 0.5em;
}

.container {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 6rem 2rem auto;
  grid-template-areas:
    "header"
    "statusBar"
    "recipes"
}

.verticallyCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  grid-area: header;
  background-color: rgba(173, 173, 173, 1);
}

#statusBar {
  grid-area: statusBar;
  padding: 1.5rem 0rem;
  border-bottom: 0.2rem solid black;
}

#statusTitle {
  margin-right: auto;
}

#backButton {
  margin-left: auto;
}

#recipes {
  margin-top: 3rem;
  grid-area: recipes;
  display: grid;
  grid-template-rows: auto;
  text-align: left;
}

.recipe {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 140px 1fr 1fr;
}

.recipeTextbox {
  display: grid;
  grid-template-rows: 4rem auto;
}

@media (max-width: 700px) {

  #recipes {
    grid-gap: 2rem;
  }

  .recipe {
    grid-gap: 0;
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
  }
}