body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 6rem auto;
  text-align: center;
  height: 100vh;
}

header {
  background-color: rgba(173, 173, 173, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: 12rem auto;
}

.sidebar {
  background-color: aquamarine;
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%) auto;
}

.guestSelector {
  display: flex;
  
}

.menu {
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
}

.menuHeader, .dish {
  display: flex;
}

.menuHeader .dishCostHeader, .dish .dishCost {
  margin-left: auto;
}

.menuCost {
  margin-left: auto;
}

.confirmMenuButton {
  color: rgba(0, 0, 0, 1);
  background-color: orange;
  border: 0.1em solid black;
  box-shadow: 0.1em 0.1em 0.1em black;
  font-size: 1em;
  padding: 0.5em;
  margin: 1em;
}

.content {
  background-color: blanchedalmond;
}

.dishResultsContainer {
  margin: 0 auto;
  width: 80%;
}

.dishResults {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.dishResult {
  display: grid;
  grid-template-rows: 140px auto;
}

.dishResultImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  display: inline;
}

.hide {
  display: none;
}

@media (min-width: 592px) {
  /* Collapsible Menu changes */
  #collapsedMenuCost {
    display: none;
  }
  
  #expandButton {
    display: none;
  }

  #sidebarContent {
    display: inline;
  }
  
  .hiddenOnMobile {
    display: inline;
  }

  .shownOnMobile {
    display: none;
  }
}

@media (max-width: 591px) {
  main {
    display: block;
  }

  .sidebarHeader {
    display: flex;
  }

  .sidebarTitle {
    margin-right: auto;
  }

  /* Collapsible Menu changes */
  .hiddenOnMobile {
    display: none;
  }

  .shownOnMobile {
    display: inline;
  }
  /* #collapsedMenuCost {
    display: inline;
  }
  
  #expandButton {
    display: inline;
  }

  #sidebarContent {
    display: none;
  } */
  
}